
body{
	font-family: Helvetica, "Open Sans";
}
.container{
	width: 100%;
	margin: auto;
	padding: auto;
	text-align: center;
}
#svg{
	width: 200px;
	height: 200px;
}
h1, h2{
	font-weight: 200;
}
h2{
	color: rgba(122,122,122,100);
}